<% if user_signed_in? %>
<%- model_class = @diary.class -%>
<div class="page-header">
<h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                   :default => "New #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
<% else %>
 <p> Bu sayfayı Görüntülemeye Yetkiniz Yok</p>
<% end %>

